worker/wiki-data.json
worker/wiki-data-full.json
worker/wiki-index-light.json
worker/kv-bulk-upload.json
.wrangler
.DS_Store
node_modules/
public/
quartz/.quartz-cache/
quartz-test/
tsconfig.tsbuildinfo

.dev.vars*
!.dev.vars.example
.env*
!.env.example
server.py
